apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fullstack-ingress-nginx
  namespace: fullstack
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - devops3.himanmanduja.fun
      secretName: fullstack-tls
  rules:
    - host: devops3.himanmanduja.fun
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 3005
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 5000
